<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278153046142-1du5hmqe75qk6adqg8ec4i4lac34km5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278153046142-1du5hmqe75qk6adqg8ec4i4lac34km5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>278153046142-089rmt2proumdf65j5rr1j81j8jl8hqb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnJS-g31dRLrYnIQLGXijqs4oSDpJCTik</string>
	<key>GCM_SENDER_ID</key>
	<string>278153046142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rewaytech.rewayrecyclers</string>
	<key>PROJECT_ID</key>
	<string>reway-4d031</string>
	<key>STORAGE_BUCKET</key>
	<string>reway-4d031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278153046142:ios:7a4dd4a4a874698099502f</string>
	<key>DATABASE_URL</key>
	<string>https://reway-4d031-default-rtdb.firebaseio.com</string>
</dict>
</plist>